/* styling for slide header component */

.section-header {
    font-size: 70px;
    color: white
  }
  
  .underline {
    height: 2px;
    background-color: white;
  }
  
  section {
      min-height: 50vh;
      display: flex;
      align-items: center;
  }
  
  .scroll-container {
      max-width: 1000px;
      margin: 400px auto; 
      overflow: hidden;
  }
  
  .header-container {
      display: flex;
      align-items: center;
      position: relative;
    }
    
    .top-shadow {
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%);
      height: 100%;
      width: 140%;
      position: absolute;
      left: 0%;
      top: 0;
      z-index: 2;
    }
  
  /* styling for category cards */
  
  h1,
  h2 {
    text-align: center;
  }

  
  .scroll-down__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 36px);
  }
  
  .scroll-down__message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .motion__wrapper {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 24px;
  }
  
  .motion-box {
    width: 100%;
    max-width: 90%;
    height: 420px;
  }
  