@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background:#fff ;
  color: #141414;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90%;
}

/* HERO SECTION */
.hero {
  background-image: url('/hero2.png');
  background-size: cover;
  height: 100vh;
}


.footer {
  background-image: url(../../public/footer4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}




.horz-scroll-con::-webkit-scrollbar {
  display: none;
  background-color: #262626;
}

.horz-scroll-con {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.drip-card > .drip {
  opacity: 0;
}

.drip-card:hover > .drip {
  opacity: 1;
}

.drip-card:hover > button {
  text-decoration: underline;
}

.cardCon {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.cardCon::-webkit-scrollbar {
  display: none;
  background-color: #262626;
}


/* CHAT BOX */
/* chat component */

.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
  background-color: #D9D9D9;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #d9d9d9;
  color: #282828;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #8e8e8e;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;
  box-shadow: -2px 2px 1px 1px #d9d9d9;
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #282828;
}
.user-message {
  word-break: break-all;
}
.message-time {
  display: block;
  text-align: right;
}

/* send message */
.send-message {
  position: absolute;
  bottom: -45px;
  width: 100%;
  padding: 20px 30px;
  background-color: #282828;
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #282828;
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: #ddd;
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #dbdbdb;
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #282828;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  font-weight: 600;
}

/* Gallery Section */
.galleryContainer {
  margin: 4px auto 0;
  padding: 0 16px;
  max-width: 1500px;
}

.motion-progress {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background: #424242;
}

.motion-progress > div {
  width: 100%;
  height: 100%;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.gallery-carousel {
  display: flex;
  gap: 48px;
}

.carousel__slide {
  width: 300px;
  height: 300px;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
/* END GALLERY */


/* Image Carousel Section */
.carousel-root {
  width: 30%;
}

.home-carousel-root {
  width: 100%
}

.portrait-carousel-root {
  width: 100%
}


.carousel .slide {
  height: 50vh;
}

.portrait-carousel .slide {
  height: 70vh;
}

.carousel .control-next.control-arrow::before {
  border-left: 8px solid black !important;
  
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid black !important;
  
}


/* Card List Section */
.card-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50vh;
  width: 35vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  background-color: #75b2c5;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background-image: linear-gradient(70deg, RoyalBlue, DarkTurquoise);
  box-shadow: 10px 15px 15px 6px #3891b4;
  border-radius: 15px;
  font-size: 15vh;
}

.card h2 {
  font-size: 5vh;
}

.card p {
  font-size: 3vh;
}


/* Second corporate selection page */
.wrapper {
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.box {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--accent);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


/* Personal CTA section */
.cta-frame {
  background-image: url('/drips/CTA_frame.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}

/* Corporate Landing Page Section */
.corp-wrapper {
  background-image: url('/drips/circle_drip_frame.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
} 


/* Landing Page */
.switch {
  width: 160px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
}

