@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero {
  background-image: url(../../public/hero_drip_josh.png), url(../../public/hero1.png);
  background-position: center top, center;
  background-size: cover, contain;
  background-repeat: no-repeat;
}

.horz-scroll-con::-webkit-scrollbar {
  display: none;
  background-color: #262626;
}

.horz-scroll-con {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.drip-card > .drip {
  opacity: 0;
}

.drip-card:hover > .drip {
  opacity: 1;
}

.drip-card:hover > button {
  text-decoration: underline;
}

.cardCon {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.cardCon::-webkit-scrollbar {
  display: none;
  background-color: #262626;
}

