svg:hover #eC6DEuNrF2i4, svg:hover #exMsk6e4GN14, svg:hover #eJoE8W3z9Ir4  {
    fill: #255925;
    transition: all ease 0.3s;
}

svg:hover #eC6DEuNrF2i5, svg:hover #exMsk6e4GN15, svg:hover #eJoE8W3z9Ir5 {
    fill: #28C328;
    transition: all ease 0.3s;
}